{% extends 'base.html.twig' %}

{% block title %}Edit Animal
{% endblock %}

{% block body %}
	<h1>Edit Animal</h1>
	<turbo-frame id="edit_animal" turbo-visit-control="reload" class="col-4 ">

		<legend class="d-flex justify-content-between align-items-center">Modifier Animal
			<button type="button" class="btn btn-link" data-bs-toggle="collapse" aria-controls="edit_animal_collapse" data-bs-target="#edit_animal_collapse">
				<i class="bi bi-x-circle"></i>
			</button>
		</legend>
		<div id="edit_animal_collapse" class="collapse show">

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn">{{ button_label|default('Update') }}</button>
			{{ form_end(form) }}
		</div>

	</turbo-frame>

	<a href="{{ path('app_animal_index') }}">back to list</a>

	{{ include('animal/_delete_form.html.twig') }}
{% endblock %}
