{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!
{% endblock %}

{% block body %}
	<div class="homepage">
		<div class="container-fluid" id="smooth-wrapper">
			<div class="card box mt-3 mx-auto card_box" id="smooth-content">
				<div class="row justify-content-center align-items-center">
					<div class="col-md-6 ">
						<img src="{{ asset('images/imageZoo.jpg') }}" class="m-2 img-fluid imgZoo w-100" alt="..."/>
					</div>
					<div class="card-body col-md-4">
						<h4 class="card-title text-center">Arcadia Zoo</h4>
						<span class="card-text text-center">Visiter le parc animalier de vos rêves. Dédié à la protection animale.</span>
						<hr class="my-1"/>
						<div class="container-fluid ">
							<p class="text-center mx-auto">Horaires :</p>
							<div class="row mx-auto">
								<p class="col text-end ">Lundi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Mardi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Mercredi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Jeudi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Vendredi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Samedi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Dimanche :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid row justify-content-evenly pt-4">
			<div class="">
				{{ include('habitat/index.html.twig', { habitats: habitats }) }}
			</div>
		</div>
		<div class="">
			{{ include('services/index.html.twig', { services: services }) }}
		</div>
		<div class="container-fluid row justify-content-center">
			<div class="avis-container row col-md-6 col-10 mx-auto">
				<h5 class="text-center my-3">Avis</h5>
				{% for opinion in opinions %}
					{% if opinion.isVisible %}
						<div class="card col-5 mb-5 me-1">
							<div class="card-body">
								<h5 class="card-title">{{opinion.pseudo}}</h5>
								<p class="card-text">{{opinion.comment}}</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="avis-form-container col-md-6 col-10 mx-auto">
				<h5 class="text-center my-3">Partagez votre avis</h5>
				{{ form_start(form) }}
				<div class="m-2 text-center">
					{{ form_label(form.pseudo, 'Pseudonyme') }}
					<br/>
					{{ form_widget(form.pseudo) }}
				</div>
				<div class="m-2 text-center">
					<div id="rating-value"></div>
					{{ form_widget(form.rating) }}
				</div>
				<div class="m-2 text-center">
					{{ form_label(form.comment, 'Votre commentaire :') }}
					<br/>
					{{ form_widget(form.comment) }}
					<br/>
				</div>
				<div class="d-grid gap-2 m-2 col-3 mx-auto">
					<button class="btn btn-primary text-center" type="submit">Envoyer</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

	{% endblock %}
