{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!
{% endblock %}

{% block body %}
	<div class="homepage">
		<div class="container-fluid" id="smooth-wrapper">
			<div class="card box mt-3 mx-auto card_box" id="smooth-content">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<img src="{{ asset('images/imageZoo.jpg') }}" class="imgZoo w-100" alt="..."/>
					</div>
					<div class="card-body col-lg-4">
						<h4 class="card-title text-center">Arcadia Zoo</h4>
						<span class="card-text text-center">Visiter le parc animalier de vos rêves. Dédié à la protection animale.</span>
						<hr class="my-1"/>
						<div class="container-fluid ">
							<p class="text-center mx-auto">Horaires :</p>
							<div class="row mx-auto">
								<p class="col text-end ">Lundi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Mardi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Mercredi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Jeudi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Vendredi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Samedi :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
							<div class="row mx-auto">
								<p class="col text-end">Dimanche :</p>
								<p class="col">8:00 - 18:00</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			class="container-fluid row  justify-content-evenly pt-4">

			{# <div id="habitats-bloc" class="row justify-content-evenly " data-speed="clamp(0.5)"> #}
			<div class="col-md-3 col-4">
				<h5 class="text-center mt-2">Habitats disponibles</h5>
				<div class="card m-1">
					<img src="{{ asset('images/savane.jpg') }}" class="card-img-top d-none d-md-block" alt="...">
					<p class="card-text text-center">Savane</p>
				</div>
				<div class="card m-1">
					<img src="{{ asset('images/jungle.png') }}" class="card-img-top d-none d-md-block" alt="...">
					<p class="card-text text-center">Jungle</p>
				</div>
				<div class="card m-1">
					<img src="{{ asset('images/marais.jpg') }}" class="card-img-top d-none d-md-block" alt="...">
					<p class="card-text text-center">Marais</p>
				</div>

			</div>
			<div class="col-md-3 col-7">
				<h5 class="text-center mt-2 ">Animaux</h5>
				<div class="d-none d-md-block">
					<div class="card m-1">
						<img src="{{ asset('images/simba.jpg') }}" class="card-img-top" alt="...">
						<p class="card-text">Simba</p>
					</div>
				</div>

				<div id="carouselExampleControls" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ asset('images/imageZoo.jpg') }}" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('images/imageZoo.jpg') }}" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
							<img src="{{ asset('images/imageZoo.jpg') }}" class="d-block w-100" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

			</div>
			<div class="col-md-3 col-11 container-fluid row justify-content-evenly">
				<h5 class="text-center mt-2">Services</h5>
				<div class="card col-5 col-md-12 m-1">
					<img src="{{ asset('images/restaurant.jpg') }}" class="card-img-top" alt="...">
					<p class="card-text text-center">Restaurant</p>
				</div>
				<div class="card col-5 col-md-12 m-1">
					<img src="{{ asset('images/visiteGuidee.jpg') }}" class="card-img-top" alt="...">
					<p class="card-text text-center">
						Visite zoo en petit train</p>
				</div>
				<div class="card col-6 col-md-12 m-1">
					<img src="{{ asset('images/visiteTrain.jpg') }}" class="card-img-top" alt="...">
					<p class="card-text text-center">Visite guidée</p>
				</div>
			</div>

		</div>
	</div>
	<div class="avis-container row ">
		<h5 class="text-center my-3">Avis</h5>
		<div class="card w-50 col-2 mb-1">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			</div>
		</div>
		<div class="card w-50 col-2 mb-1">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			</div>
		</div>
	</div>
	<div class="avis-form-container container ">
		<h5 class="text-center my-3">Partagez votre avis</h5>
		<form class="">
			<div class="m-2 text-center">
				<label for="exampleInputEmail1" class="form-label ">Email address</label>
				<input type="email" class="form-control w-75 mx-auto" id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="m-2 text-center">
				<label for="exampleInputPseudo" class="form-label">Pseudonyme</label>
				<input type="text" class="form-control w-75 mx-auto" id="exampleInputPassword1">
			</div>
			<div class="m-2 text-center">
				<label class="text-center" for="floatingTextarea2">Comments</label>
				<textarea class="form-control w-75 mx-auto" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
			</div>
			<div class="d-grid gap-2 m-2 col-3 mx-auto">
				<button type="submit" class="btn btn-primary text-center">Submit</button>
			</div>
		</form>
	</div>
</div>{% endblock %}
