{% extends 'base.html.twig' %}

{% block title %}Opinion index
{% endblock %}

{% block body %}
	<h1>Opinion index</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Pseudo</th>
				<th>Comment</th>
				<th>IsVisible</th>
				<th>Rating</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for opinion in opinions %}
				<tr>
					<td>{{ opinion.id }}</td>
					<td>{{ opinion.pseudo }}</td>
					<td>{{ opinion.comment }}</td>
					<td>{{ opinion.isVisible ? 'Yes' : 'No' }}</td>
					<td>{{ opinion.rating }}</td>
					<td>
						<a href="{{ path('app_opinion_edit', {'id': opinion.id, 'isVisible': 1}) }}">Valider</a>
						<a href="{{ path('app_opinion_edit', {'id': opinion.id, 'isVisible': 0}) }}">Refuser</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_opinion_new') }}">Create new</a>

{% endblock %}
