{# templates/opinion/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}New Opinion
{% endblock %}

{% block body %}
		<h5 class="text-center my-3">Partagez votre avis</h5>
				{{ form_start(form) }}
				<div class="m-2 text-center">

					{{ form_label(form.pseudo, 'Pseudonyme') }}
					<br/>
					{{ form_widget(form.pseudo) }}
				</div>
				<div class="m-2 text-center">

					<div id="rating-value"></div>
					{{ form_widget(form.rating) }}

				</div>

				<div class="m-2 text-center">

					{{ form_label(form.comment, 'Votre commentaire :') }}
					<br/>

					{{ form_widget(form.comment) }}
					<br/>
				</div>
				<div class="d-grid gap-2 m-2 col-3 mx-auto">

					<button class="btn btn-primary text-center" type="submit">Envoyer</button>
				</div>

				{{ form_end(form) }}
{% endblock %}
