{% extends 'base.html.twig' %}

{% block title %}New RepportLogs
{% endblock %}

{% block body %}
	<h1>Create new RepportLogs</h1>
	<turbo-frame id="new_repport_log" turbo-visit-control="reload" class="col">
		{{ form_start(form, {'attr': {'id': 'myForm'}}) }}
		{{ form_widget(form) }}
		<button class="btn new-repport-loge-sub">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}
	</turbo-frame>

	<a href="{{ path('app_repport_logs_index') }}">back to list</a>
{% endblock %}
