{% extends 'base.html.twig' %}
{% block title %}Dashboard
{% endblock %}
{% block body %}
	<div class="employee container-fluid row">
		<ul class="employee-dashboard mt-5 nav position-relative flex-column col-2 h-25">
			<li class="nav-item border ">
				<a class="nav-link nav-admin" href="{{ path('employee_service') }}" data-target="{{ path('employee_service') }}">
					Gestion services
				</a>
			</li>
			<li class="nav-item border ">
				<a class="nav-link nav-admin" href="{{ path('employee_opinion') }}" data-target="{{ path('employee_opinion') }}">
					Gestion des avis
				</a>
			</li>
			<li class="nav-item border border-black">
				<a class="nav-link nav-admin" href="{{ path('employee_health') }}">Gestion état santé animaux</a>
			</li>
		</ul>
		<div class="col-10" id="content-area">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}
