{# templates/administrator/_content.html.twig #}
{# <div class="new_user m-4"> #}
{# {{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn">Create</button>
	{{ form_end(form) }} #}
{# </div> #}<h2>Users
</h2>
	<ul class="list-group"> {% for user in users %}
		<li class="list-group-item list-group-item-action">{{ user.name }}
			{{ user.lastname }}
			{{ user.email }} </li>
	{% endfor %}
</ul>
