{# templates/administrator/habitat.html.twig #}
{% extends 'administrator/dashboard.html.twig' %}

{% block content %}
<div class="container-fluid row align-items-center">
	<turbo-frame id="show_habitat" turbo-visit-control="reload">
		{{ include('habitat/index.html.twig', { habitats: habitats }) }}
	</turbo-frame>
	<div class="container-fluid new_habitat row align-items-center d-flex justify-content-center">
		<form id="new-habitat-form" action="{{ path('administrator_habitat') }}" method="post" enctype="multipart/form-data" class="row align-items-center col-6 border border-dark">
			{{ form_start(form, {'attr': {'class': ''}}) }}
			{{ form_widget(form, {'attr': {'class': ''}}) }}
			{% if errorMessage %}
				<div id="error-message" style="color: red;">{{ errorMessage }}</div>
			{% endif %}
			<button id="add_habitat" class="btn">Enregistrer</button>
			{{ form_end(form) }}
		</form>
	</div>
</div>
{% endblock %}